body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
}


/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-image: url("https://image.cnbcfm.com/api/v1/image/102727246-152044432.jpg?v=1529468610");
  /* height: 500px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color:#6c757d;
  color: white;
  text-align: left;
  text-shadow: 2px 2px 5px black, 2px 2px 5px black;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}


.title-image {
  width: 45%;
  right: 80%;
  top: 22%;
  position: absolute;

}

/* Features Section */


/* Locations Section */

.location-box {
  padding: 5%;
}

.location-title {
  padding: 5%;
  text-shadow: 2px 2px 5px black, 2px 2px 5px black;
  color: whitesmoke;
}

.location-heading {
  text-shadow: 2px 2px 5px black, 2px 2px 5px black;
  color: whitesmoke;
}



/* Pricing Section*/

#pricing {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F77%2Fe0%2Fd5%2F77e0d54e2046610c2f2d8f2f169efb3b.jpg&f=1&nofb=1");
  /* height: 500px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color:#6c757d;
}

.pricing-heading {
  color: white;
  text-shadow: 2px 2px 5px black, 2px 2px 5px black;
}

.pricing-text {
  color: white;
  text-shadow: 2px 2px 5px black;

}

/* About Section */

#about {
  color: white;
  text-shadow: 2px 2px 5px black, 2px 2px 5px black;
}

.about1 {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2FFkBLIsJ.jpg&f=1&nofb=1");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 550px;
}
.about2 {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimg00.deviantart.net%2Fd3b9%2Fi%2F2016%2F069%2F1%2Fb%2Fdowntown_after_the_rain__madison__wi_by_devlik-d9uktgu.jpg&f=1&nofb=1");
  background-color: #000;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 550px;
}



/* Footer Section */

#footer {
  /* background-color: #6c757d;  */
  /* color: white; */
}

.footer-heading {
  /* text-shadow: 2px 2px 5px black, 2px 2px 5px black; */
}


@media (max-width: 1028px) {
  
  #title{
      text-align: center;
  }

  .title-image {
      position: static;
  }
}

